# Firebase Config
VITE_FIREBASE_API_KEY=AIzaSyA9hWf595188TytoBCZZ3mjSzV2MzlSO2k
VITE_FIREBASE_AUTH_DOMAIN=koine-ded49.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=koine-ded49
VITE_FIREBASE_STORAGE_BUCKET=koine-ded49.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=594880756211
VITE_FIREBASE_APP_ID=1:594880756211:android:5acb377b46bfc8fe3c3a86
VITE_FIREBASE_MEASUREMENT_ID=

# Security
VITE_RECAPTCHA_SITE_KEY=SUBSTITUA_PELA_CHAVE_RECAPTCHA

# RevenueCat
VITE_REVENUECAT_ANDROID_KEY=goog_SUBSTITUA_PELA_CHAVE_REVENUECAT
